<a href="https://colab.research.google.com/github/dhruvv1101/DataScience-/blob/main/session_6_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [3]:
def func(l):
  return list(set(l))
k=[1,2,3,3,3,3,4,5]
print(func(k))

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [4]:
def func(s):
  return '-'.join(sorted(s.split('-')))
s='green-red-yellow-black-white'
print(func(s))

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [6]:
# Write code here
def func(s):
  upper=0
  lower=0
  for i in s:
    if i.isupper():
      upper+=1
    elif i.islower():
      lower+=1
  return upper,lower
s='CampusX is an Online Mentorship Program fOr EnginEering studentS.'
print(func(s))

(9, 47)

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [8]:
def ev(l):
  u=[]
  for i in l:
    if i%2==0:
      u.append(i)
  return u
l=[1, 2, 3, 4, 5, 6, 7, 8, 9]
print(ev(l))

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [13]:
# Write code here
def sum_of_divisors(num):
  sum=0
  for i in range(1,num):
    if num%i==0:
      sum+=i
  return sum
def per_num(num):
  sum=sum_of_divisors(num)
  if sum==num:
    return True
  else:
    return False
print(per_num(5))

False

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [14]:
# Write code here
def con_dic(*args):
  dic={}
  for i in args:
    dic.update(i)
  return dic
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
print(con_dic(dic1,dic2,dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [23]:
# Write code here
def s_count(s):
  dic={}
  for i in s.split():
    if i in dic:
      dic[i]+=1
    else:
      dic[i]=1
  return {max(dic.keys()):max(dic.values())}
# i want the count
s='hello how are you i am fine thank you'
s_count(s)

{'you': 2}

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [27]:
# Write code here
def histogram_by_bins(arr):
    bins = {}
    for num in arr:
        # Calculate bin start
        bin_start = ((num - 1) // 10) * 10 + 1
        bin_end = bin_start + 9
        key = f"{bin_start}-{bin_end}"
        bins[key] = bins.get(key, 0) + 1
    print(bins)
l=[13,42,15,37,22,39,41,50]
histogram_by_bins(l)

{'11-20': 2, '41-50': 3, '31-40': 2, '21-30': 1}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [28]:
# Write code here
import math
def closest(l,q):
  min=math.inf
  for i in l:
    d=math.sqrt((i[0]-q[0])**2+(i[1]-q[1])**2)
    if d<min:
      min=d
      c=i
  return c
l=[(1,1),(2,2),(3,3),(4,4)]
q=(0,0)
print(closest(l,q))

(1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [30]:
# Write code here
def bag_of_words(docs):
    from collections import Counter

    # Step 1: Tokenize each document into words
    tokenized_docs = [doc.lower().split() for doc in docs]

    # Step 2: Build vocabulary (sorted to keep consistent column order)
    vocab = sorted(set(word for doc in tokenized_docs for word in doc))

    # Step 3: Create word count vectors
    bow_matrix = []
    for doc in tokenized_docs:
        word_counts = Counter(doc)
        row = [word_counts.get(word, 0) for word in vocab]
        bow_matrix.append(row)

    # Optional: Print as table
    print("Vocabulary:", vocab)
    for i, row in enumerate(bow_matrix):
        print(f"Doc {i+1}:", row)

docs = [
    "I love data science",
    "Data science is fun",
    "I love fun"
]
bag_of_words(docs)

Vocabulary: ['data', 'fun', 'i', 'is', 'love', 'science']
Doc 1: [1, 0, 1, 0, 1, 1]
Doc 2: [1, 1, 0, 1, 0, 1]
Doc 3: [0, 1, 1, 0, 1, 0]

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [32]:
# Write code here
# Three input lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Add the lists element-wise using map and lambda
result = list(map(lambda x, y, z: x + y + z, list1, list2, list3))

print(result)

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [33]:
# Write code here
bases = [1,2, 3, 4, 5,6]

# Compute base^index using map
result = list(map(lambda val_idx: val_idx[1] ** val_idx[0], enumerate(bases)))

print(result)

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [37]:
# Write code here
def filter_vowels(string):
    vowels = ['a', 'e', 'i', 'o', 'u']
    return set(filter(lambda char: char.lower() in vowels, string))
string="trial fnidsi. fesijfi"
print(filter_vowels(string))

{'e', 'i', 'a'}

`Problem-14`: Use reduce to convert a 2D list to 1D

In [34]:
# Write code here
from functools import reduce
l=[[1,2,3],[4,5,6],[7,8,9]]
reduce(lambda x,y:x+y,l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [39]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [40]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']